<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Head Partial -->
        <%- include('../partials/head') %>
    </head>
    <body class="sb-nav-fixed">
        <!-- Top Navigation Partial -->
        <%- include('../partials/top_nav') %>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <!-- Side Navigation Partial -->
                <%- include('../partials/side_nav') %>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Detail Data Pelanggan</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/pelanggan">Data Pelanggan</a></li>
                            <li class="breadcrumb-item active">Detail</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-edit me-1"></i>
                                Detail Data Pelanggan
                            </div>
                            <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="id_pel" class="col-form-label">ID Pelanggan :</label>
                                                <input type="text" class="form-control" name="id_pel" id="id_pel" value="<%= id_pel %>" readonly>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="nama" class="col-form-label">Nama Pelanggan :</label>
                                                <input type="text" class="form-control" name="nama" id="nama" value="<%= nama %>" readonly>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="alamat" class="col-form-label">Alamat Pelanggan :</label>
                                                <input type="text" class="form-control" name="alamat" id="alamat" value="<%= alamat %>" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="no_kunci" class="col-form-label">No. Kunci :</label>
                                                <input type="text" class="form-control" name="no_kunci" id="no_kunci" value="<%= no_kunci %>" readonly>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="tarif" class="col-form-label">Tarif :</label>
                                                <input type="text" class="form-control" name="tarif" id="tarif" value="<%= tarif %>" readonly>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="daya" class="col-form-label">Daya :</label>
                                                <input type="text" class="form-control" name="daya" id="daya" value="<%= daya %>" readonly>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="fakm" class="col-form-label">FAKM :</label>
                                                <input type="text" class="form-control" name="fakm" id="fakm" value="<%= fakm %>" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="merk_meter" class="col-form-label">Merk Meter :</label>
                                                <input type="text" class="form-control" name="merk_meter" id="merk_meter" value="<%= merk_meter %>" readonly>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="tipe_meter" class="col-form-label">Tipe Meter :</label>
                                                <input type="text" class="form-control" name="tipe_meter" id="tipe_meter" value="<%= tipe_meter %>" readonly>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="no_meter" class="col-form-label">No Meter :</label>
                                                <input type="text" class="form-control" name="no_meter" id="no_meter" value="<%= no_meter %>" readonly>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- Footer Partial -->
                <footer class="py-2 bg-light mt-auto">
                    <%- include('../partials/footer') %>
                </footer>
            </div>
        </div>
        <!-- Script Partial -->
        <%- include('../partials/script') %>
    </body>
</html>
